In [6]:
# NumPy, SciPy and Pandas
import pandas as pd
import numpy as np

In [7]:
def hourly_dataset(name):
    # Building Data Genome dataset
    if name == 'BDG':
        df = pd.read_csv('../data/raw/temp_open_utc_complete.csv', parse_dates=True, 
                         infer_datetime_format=True, index_col=0)
    
    # Washington D.C. dataset
    elif name == 'DGS':
        df = pd.read_csv('../data/raw/DGS_322_Buildings-15m-By_Building-DST-gap-filled-3-2-18-508pm.csv',
                            parse_dates=[['Building ID', 'Unnamed: 1']], infer_datetime_format=True)
        # get rid of temperature column
        del df['Unnamed: 2']

        # update column names to match the row of building names
        new_column_names = df.iloc[0,:]
        df.columns = new_column_names

        # get rid of rows with metadata and update index
        df = df.drop([0,1,2], axis=0)
        df = df.rename(columns = {'Building nan':'timestamp'})
        df.index = df['timestamp'].astype('datetime64[ns]')
        del df['timestamp']
        df = df.astype(float)
        
        # since the dataset is made from 15min interval readings, resample to 1 hr
        df = df.resample('1H').sum()

    else:
        print("Please choose a valid dataset")
        exit()

    return df

In [8]:
# load building gnome dataset (BDG)
df_bdg = hourly_dataset('BDG')
df_bdg.to_csv('../data/processed/BDG_dataset.csv')

# load dc building dataset (DC)
df_dc = hourly_dataset('DGS')
df_dc.to_csv('../data/processed/DGS_dataset.csv')

/Users/matias/miniconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3185: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

In [9]:
df_bdg.head(10)

,Office_Cristina,PrimClass_Jolie,PrimClass_Jaylin,Office_Jesus,PrimClass_Uma,UnivClass_Tamra,PrimClass_Jayla,PrimClass_Janiya,PrimClass_Umar,PrimClass_Janice,...,Office_Emer,Office_Elena,Office_Emerald,Office_Ellis,Office_Elliot,Office_Eddie,Office_Georgia,UnivDorm_Lysander,PrimClass_Jazmin,PrimClass_Jenna
timestamp,,,,,,,,,,,,,,,,,,,,,
2010-01-01 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-01 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-01 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-01 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-01 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-01 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-01 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-01 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-01 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_dc.head(10)

,1st District Headquarters,Impound Lot #1 & Fleet Fueling Site,Jefferson Playing Fields,DC Village,200 I Street Municipal Building,C.W. Harris Elementary School,Nalle Elementary School,Fort Davis Recreation Center,Kimball Elementary School,Income Maintenance Administration Office,...,Shepard Park Library,Spring Road Community Support Services,Van Ness Elementary School,Warehouse/Office,Washington Seniors Wellness Center,Waterfront Municipal Center East,Waterfront Municipal Center West,Winston Educational Center,H.D. Woodson High School,Youth Services Administration #3
timestamp,,,,,,,,,,,,,,,,,,,,,
2016-01-03 00:00:00,127.37,0.20,0.0,418.14,1083.51,0.0,173.52,32.50,42.61,43.41,...,33.70,26.64,15.77,43.08,18.36,261.26,474.55,281.77,268.98,27.89
2016-01-03 01:00:00,126.49,0.20,0.0,432.40,1036.84,0.0,144.73,33.26,42.50,43.34,...,33.40,26.77,16.18,47.42,18.58,260.68,482.08,282.56,266.03,27.84
2016-01-03 02:00:00,125.85,0.20,0.0,420.77,1128.80,0.0,145.97,32.89,41.94,43.40,...,33.48,26.55,16.27,49.51,19.11,259.83,482.73,281.24,267.86,27.37
2016-01-03 03:00:00,124.05,0.20,0.0,447.90,1038.19,0.0,145.29,35.63,41.49,43.09,...,33.46,27.47,15.62,50.14,19.15,259.55,486.62,282.02,274.78,26.95
2016-01-03 04:00:00,121.78,0.20,0.0,437.19,1112.88,0.0,143.61,34.41,41.36,42.95,...,33.68,26.35,16.11,51.91,19.71,258.26,487.92,282.30,316.12,27.51
2016-01-03 05:00:00,129.84,0.20,0.0,455.15,1443.68,0.0,142.80,35.97,41.19,43.57,...,33.66,26.22,15.84,53.88,19.26,290.67,517.70,284.23,408.84,31.57
2016-01-03 06:00:00,132.63,0.20,0.0,463.73,1504.06,0.0,142.98,35.86,51.25,43.07,...,33.75,25.61,17.29,57.40,19.42,725.59,962.35,284.83,433.85,31.29
2016-01-03 07:00:00,132.48,0.05,0.0,456.54,1497.49,0.0,158.15,34.20,70.79,52.04,...,34.62,25.50,18.56,59.97,19.49,1100.65,1203.93,285.25,478.53,33.16
2016-01-03 08:00:00,139.56,0.00,0.0,456.25,1500.70,0.0,152.77,23.48,90.67,58.28,...,33.64,29.89,16.14,38.92,23.85,1083.87,1102.98,283.05,524.55,51.65
2016-01-03 09:00:00,142.42,0.00,0.0,457.18,1505.35,0.0,151.61,23.73,113.93,61.05,...,34.00,33.48,15.26,38.38,25.98,1025.86,1009.64,284.32,593.15,71.53